{{- if .Values.externalSecrets.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: {{ include "elevate-chatbot.fullname" . }}-secret-store
  namespace: {{ .Release.Namespace }}
spec:
  provider:
    {{- if eq .Values.externalSecrets.provider "vault" }}
    vault:
      server: {{ .Values.externalSecrets.vault.server }}
      path: {{ .Values.externalSecrets.vault.path }}
      version: {{ .Values.externalSecrets.vault.version | default "v2" }}
      auth:
        tokenSecretRef:
          name: {{ .Values.externalSecrets.vault.auth.token.secretName }}
          key: {{ .Values.externalSecrets.vault.auth.token.secretKey }}
    {{- else if eq .Values.externalSecrets.provider "aws" }}
    aws:
      service: SecretsManager
      region: {{ .Values.externalSecrets.aws.region }}
      auth:
        secretRef:
          accessKeyIDSecretRef:
            name: {{ .Values.externalSecrets.aws.auth.accessKeyId.secretName }}
            key: {{ .Values.externalSecrets.aws.auth.accessKeyId.secretKey }}
          secretAccessKeySecretRef:
            name: {{ .Values.externalSecrets.aws.auth.secretAccessKey.secretName }}
            key: {{ .Values.externalSecrets.aws.auth.secretAccessKey.secretKey }}
    {{- else }}
    kubernetes:
      remoteNamespace: {{ .Values.externalSecrets.kubernetes.remoteNamespace | default .Release.Namespace }}
      server:
        caProvider:
          type: "ConfigMap"
          name: "kube-root-ca.crt"
          namespace: {{ .Release.Namespace }}
          key: "ca.crt"
    {{- end }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "elevate-chatbot.fullname" . }}-external-secrets
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval | default "1h" }}
  secretStoreRef:
    name: {{ include "elevate-chatbot.fullname" . }}-secret-store
    kind: SecretStore
  target:
    name: {{ include "elevate-chatbot.fullname" . }}-secrets
    creationPolicy: Owner
  data:
  - secretKey: postgres-password
    remoteRef:
      key: {{ .Values.externalSecrets.keys.postgresPassword | default "postgres-password" }}
  - secretKey: jwt-secret
    remoteRef:
      key: {{ .Values.externalSecrets.keys.jwtSecret | default "jwt-secret" }}
  - secretKey: api-key
    remoteRef:
      key: {{ .Values.externalSecrets.keys.apiKey | default "api-key" }}
{{- end }}